	<header>
    <nav class="navbar navbar-default navbar-fixed-top navbar-custom ">
        <div class="container-fluid" id="top">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Suzie Reahard <br>[rear-duh]</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
					<% if (!user) { %> 
						<li><a href="/blog"><h3>Blog</h3></a></li>
						<li><a href="/"><h3>About</h3></a></li>
<!-- 						<li><a href="/contact"><h3>Contact</h3></a></li>
 -->
					<%} else if (user.local.email === "work@damn.it"){ %>
						<li><a href="/blog"><h3>Blog</h3></a></li>
						<li><a href="/post_blog"><h3>Post Blog</h3></a></li>
						<li><a href="/"><h3>About</h3></a></li>
<!-- 						<li><a href="/contact"><h3>Contact</h3></a></li>
 -->						<li><a href="/logout"><h3>Log Out</h3></a></li>

					<%} else { %>
						<li><a href="/blog"><h3>Blog</h3></a></li>
						<li><a href="/"><h3>About</h3></a></li>
<!-- 						<li><a href="/contact"><h3>Contact</h3></a></li>
 -->						<li><a href="/logout"><h3>Log Out</h3></a></li>
					<% } %>

				</ul>
		</div>

		</div>
	</nav>



	</header>