body {
    padding-top: 20px;
    padding-bottom: 20px;
}
body {
    font-family: "Lato",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}
h1 {
    font-family: "Oswald",Helvetica,Arial,sans-serif;
    font-size: 40px;
    line-height: 1.15;
}
h2 {
    font-family: "Oswald",Helvetica,Arial,sans-serif;
    font-size: 20px;
    line-height: 1.15;
}
h3 {
    font-family: "Oswald",Helvetica,Arial,sans-serif;
    font-size: 20px;
    line-height: .15;
}

a {
  color: rgb(217,29, 29);
}

a:hover {
  color: rgba(217, 29, 29, 0.5);
  text-decoration: none;
}

a:visited {
  color: rgb(217,40, 40);
  text-decoration: none;
}
a:active {
  color: rgb(217,40, 40);
  text-decoration: none;
}

div.containerBlog {
  min-height: 100px;
  align-self: center;
}

.img-circle {
  border-radius: 50%;
  float:left;
  margin: 0px 40px 0px 20px;
  padding: 0px;

}

.img-circle-sm {
  border-radius: 50%;
  max-height: 60px;
  float:left;
  margin: 0px 40px 0px 20px;
  padding: 0px;

}

.logo {
  height: auto;
  float:left;
  padding: 10px;
}
.image-inpost{
   width: 50%;
   height: auto;
   float:left;
   padding: 30px;


}
 #btnTweet {
 width: 159px;
 height: 38px;
 }