body {
    padding-top: 20px;
    padding-bottom: 20px;
}
body {
    font-family: "Lato",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}
h1 {
    font-family: "Oswald",Helvetica,Arial,sans-serif;
    font-size: 40px;
    line-height: 1.15;
}
h2 {
    font-family: "Oswald",Helvetica,Arial,sans-serif;
    font-size: 20px;
    line-height: 1.15;
}
h3 {
    font-family: "Oswald",Helvetica,Arial,sans-serif;
    font-size: 20px;
    line-height: .15;
}

a {
  color: rgb(217,29, 29);
}

a:hover {
  color: rgba(217, 29, 29, 0.5);
  text-decoration: none;
}

a:visited {
  color: rgb(217,40, 40);
  text-decoration: none;
}
a:active {
  color: rgb(217,40, 40);
  text-decoration: none;
}

div.containerBlog {
  min-height: 100px;
  align-self: center;
}
/* ADDING REACT ANIMATION CSS*/

.example-enter {
  opacity: 0;
  transform:   translate(0, -100px);
  transform: translate3d(0, -100px, 10px);

}

.example-enter.example-enter-active {
  opacity: 1;
  transform: translate(0,0);
  transform: translate3d(0,0,0);
  transition-property: transform, opacity;
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0.175, 0.665, 0.320, 1), linear;
  }

.example-leave {
  opacity: 1;
  transform: translate(0,0,0);
  transform: translate3d(0,0,0);
  transition-property: transform, opacity;
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0.175, 0.665, 0.320, 1), linear;
}

.example-leave.example-leave-active {
  opacity: 0;
  transform:   translate(0, -50px);
  transform: translate3d(0, -50px, 20px);
}

.titles-enter {
  opacity: 0;
  transform:   translate(0, 0);
  transform: translate3d(0, 0, 0);

}

.titles-enter.example-enter-active {
  opacity: 1;
  transform: translate(0,0);
  transform: translate3d(0,0,0);
  transition-property: transform, opacity;
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0.175, 0.665, 0.320, 1), linear;
  }

.titles-leave {
  opacity: 1;
  transform: translate(0,0,0);
  transform: translate3d(0,0,0);
  transition-property: transform, opacity;
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0.175, 0.665, 0.320, 1), linear;
}

.titles-leave.example-leave-active {
  opacity: 0;
  transform:   translate(-5000, 0px);
  transform: translate3d(-5000, 0px, 0);
}

/*END OF REACT CSS*/
.img-circle {
  border-radius: 50%;
  float:left;
  margin: 0px 40px 0px 20px;
  padding: 0px;

}

.img-circle-sm {
  border-radius: 50%;
  max-height: 60px;
  float:left;
  margin: 0px 40px 0px 20px;
  padding: 0px;

}

.logo {
  height: auto;
  float:left;
  padding: 10px;
}
.image-inpost{
   width: 50%;
   height: auto;
   float:left;
   padding: 30px;


}
 #btnTweet {
 width: 159px;
 height: 38px;
 }