/*body {
    padding-top: 20px;
    padding-bottom: 20px;
}
*/body {
    font-family: "Open Sans",Helvetica,Arial,sans-serif;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}

p {
   font-family: "Open Sans",Helvetica,Arial,sans-serif;   
   line-height: 1.75;
   font-weight: 300;
}


h1 {
    font-family: "Oswald",Helvetica,Arial,sans-serif;
    font-size: 40px;
    line-height: 1.15;
}
h2 {
    font-family: "Oswald",Helvetica,Arial,sans-serif;
    font-size: 20px;
    line-height: 1.15;
}
h3 {
    font-family: "Oswald",Helvetica,Arial,sans-serif;
    font-size: 20px;
    line-height: .15;
}

a {
  color: rgb(14, 122, 146);
}

a:hover {
  color: rgba(14, 122, 146, 0.5);
  text-decoration: none;
}

a:visited {
  color: rgb(14, 122, 146);
  text-decoration: none;
}
a:active {
  color: rgb(14, 122, 146);
  text-decoration: none;
}
blockquote {
  font-family: "Open Sans",Helvetica,Arial,sans-serif;
  background: rgba(255,255,255, .6);
  border-left: 10px solid rgba(0,0,0, .0);
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
    color: rgba(0,0,0,0.08);
    content: open-quote;
    font-family: "Oswald",Helvetica,Arial,sans-serif;
    font-size: 20em;
    margin-right: -.4em;
    position: relative;
    top: .2em;
    line-height: .001em;
    vertical-align: -0.55em;}

blockquote:after {
    color: rgba(0,0,0,0.0);;
    content: close-quote;
    font-family: "Oswald",Helvetica,Arial,sans-serif;
    font-size: 20em;
    margin-right: 0em;
    line-height: .001em;
    vertical-align: -0.75em;
}

div.containerBlog {
  min-height: 100px;
  align-self: center;
}
div.blog {
  font-weight: 300;
  font-size: 1.3em;
  line-height: 1.7;
  letter-spacing: 1.2;
}
div.main {
  padding: 0px 20px 20px 0px;
}
div.center {
 vertical-align: center;
 text-align: center;

}

div.center-dark {
 vertical-align: center;
 text-align: center;
 background-color: black;
 background-image: url("/images/footer.jpg");
 -webkit-background-size: cover;
 -moz-background-size: cover;
 background-size: cover;
 -o-background-size: cover;
 min-height: 160px;
 padding:10px;
}

div.center-dark p {
  color: white;
}

div.well{
  background-color: #fff;
  border: none;
  box-shadow: none;

}

div.feedbox{
  min-height: 350px;
  padding: 19px;
  background-color: rgba(255, 255, 255, .7);
  border: none;
  border-radius: 4px;
  box-shadow: none;
}

div.bottom{
  position: relative;
  bottom: 0;
 vertical-align: center;
 text-align: center;
 margin-top: 30px;
 background-color: black;
 background-image: url("/images/keyboard-light.jpg");
 -webkit-background-size: cover;
 -moz-background-size: cover;
 background-size: cover;
 -o-background-size: cover;
 padding: 30px;
  }

.foot {
  position: relative;
  bottom:0;
  background-color: black;
  background: no-repeat center center;
  margin: 30px 10px;
  opacity: .47;
}


/* ADDING REACT ANIMATION CSS*/

.example-enter {
  opacity: 0;
  transform:   translate(0, -100px);
  transform: translate3d(0, -100px, 10px);

}

.example-enter.example-enter-active {
  opacity: 1;
  transform: translate(0,0);
  transform: translate3d(0,0,0);
  transition-property: transform, opacity;
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0.175, 0.665, 0.320, 1), linear;
  }

.example-leave {
  opacity: 1;
  transform: translate(0,0,0);
  transform: translate3d(0,0,0);
  transition-property: transform, opacity;
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0.175, 0.665, 0.320, 1), linear;
}

.example-leave.example-leave-active {
  opacity: 0;
  transform:   translate(0, -50px);
  transform: translate3d(0, -50px, 20px);
}

.titles-enter {
  opacity: 0;
  transform:   translate(0, 0);
  transform: translate3d(0, 0, 0);

}

.titles-enter.example-enter-active {
  opacity: 1;
  transform: translate(0,0);
  transform: translate3d(0,0,0);
  transition-property: transform, opacity;
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0.175, 0.665, 0.320, 1), linear;
  }

.titles-leave {
  opacity: 1;
  transform: translate(0,0,0);
  transform: translate3d(0,0,0);
  transition-property: transform, opacity;
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0.175, 0.665, 0.320, 1), linear;
}

.titles-leave.example-leave-active {
  opacity: 0;
  transform:   translate(-5000, 0px);
  transform: translate3d(-5000, 0px, 0);
}

/*END OF REACT CSS*/
.img-circle {
  border-radius: 50%;
  float:left;
  margin: 0px 40px 0px 20px;
  padding: 0px;

}
.img-blog {
  width: 100%;
  height:auto;

}
div.img-blog{
  max-height: 275px;
  display:block;
  overflow:hidden;
}
.curve { 
  width: 15%; height: auto;
  min-width: 200px;
  float: left;
  margin:3rem; 
  border-radius: 50%;
  -webkit-shape-outside:circle();
  shape-outside:circle();
}

.img-circle-xs {
  border-radius: 50%;
  max-height: 60px;
  float:left;
  margin: 0px 40px 0px 20px;
  padding: 0px;

}
.img-circle-sm {
  border-radius: 50%;
  max-height: 150px;
  margin: -12px 30px 10px 10px;
  padding: 0px;

}

.img-circle-md {
  border-radius: 50%;
  max-height: 200px;
  float:left;
  margin: -12px 30px 10px 10px;

  box-shadow: 2px 2px 8px #000;
}

.img-circle-lg {
  border-radius: 50%;
  max-height: 600px;
  float:left;
  margin: 0px 40px 0px 20px;
  padding: 0px;

}

.logo {
  height: auto;
  float:left;
  padding: 10px;
}
.image-inpost{
   width: 50%;
   height: auto;
   float:left;
   padding: 30px;


}
 #btnTweet {
 width: 159px;
 height: 38px;
 }
/*!
 * Clean Blog v1.0.0 (http://startbootstrap.com)
 * Copyright 2014 Start Bootstrap
 * Licensed under Apache 2.0 (https://github.com/IronSummitMedia/startbootstrap/blob/gh-pages/LICENSE)
 */

 .navbar-custom {
  position: absolute;
  top: 0px;
  left: 0;
  width: 100%;
  min-height: 75px;
  z-index: 3;
  font-family: 'Oswald', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.navbar-default .navbar-collapse{
  border-color: rgba(0,0,0, 0);
}
.navbar-custom .navbar-brand {
  font-weight: 800;
  font-size: 1.5em;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 1.2em;
}
.navbar-custom .nav li a {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 800;
  letter-spacing: 1px;
}
@media only screen and (min-width: 768px) {
  .navbar-custom {
    background: transparent;
    border-bottom: 1px solid transparent;
  }
  .navbar-custom .navbar-brand {
    color: white;
    padding: 20px;
  }
  .navbar-custom .navbar-brand:hover,
  .navbar-custom .navbar-brand:focus {
    color: rgba(255, 255, 255, 0.8);
  }
  .navbar-custom .nav li a {
    color: white;
    padding: 20px;
  }
  .navbar-custom .nav li a:hover,
  .navbar-custom .nav li a:focus {
    color: rgba(255, 255, 255, 0.8);
  }
}
@media only screen and (min-width: 1170px) {
  .navbar-custom {
    -webkit-transition: background-color 0.3s;
    -moz-transition: background-color 0.3s;
    transition: background-color 0.3s;
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  .navbar-custom.is-fixed {
    /* when the user scrolls down, we hide the header right above the viewport */
    position: fixed;
    top: -61px;
    background-color: rgba(255, 255, 255, 0.9);
    border-bottom: 1px solid #f2f2f2;
    -webkit-transition: -webkit-transform 0.3s;
    -moz-transition: -moz-transform 0.3s;
    transition: transform 0.3s;
  }
  .navbar-custom.is-fixed .navbar-brand {
    color: #404040;
  }
  .navbar-custom.is-fixed .navbar-brand:hover,
  .navbar-custom.is-fixed .navbar-brand:focus {
    color: #0085a1;
  }
  .navbar-custom.is-fixed .nav li a {
    color: #404040;
  }
  .navbar-custom.is-fixed .nav li a:hover,
  .navbar-custom.is-fixed .nav li a:focus {
    color: #0085a1;
  }
  .navbar-custom.is-visible {
    /* if the user changes the scrolling direction, we show the header */
    -webkit-transform: translate3d(0, 100%, 0);
    -moz-transform: translate3d(0, 100%, 0);
    -ms-transform: translate3d(0, 100%, 0);
    -o-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
}


 .intro-header {
  background-color: #808080;
  background: no-repeat center center;
  background-attachment: scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  margin-bottom: 50px;
}
.intro-header .site-heading,
.intro-header .post-heading,
.intro-header .page-heading {
  padding: 100px 0 50px;
  color: white;
}
@media only screen and (min-width: 768px) {
  .intro-header .site-heading,
  .intro-header .post-heading,
  .intro-header .page-heading {
    padding: 150px 0;
  }
}
.intro-header .site-heading,
.intro-header .page-heading {
  text-align: center;
    max-width: 725px;
margin: auto;
}
.intro-header .site-heading h1,
.intro-header .page-heading h1 {
  margin-top: 0;
  font-size: 50px;
  text-shadow: 2px 2px 8px #000;
}
.intro-header .site-heading .subheading,
.intro-header .page-heading .subheading {
  font-size: 32px;
  line-height: 1.1;
  text-shadow: 2px 2px 8px #000;
  display: block;
  font-family: 'Oswald', Helvetica, Arial, sans-serif;
  font-weight: 300;
  margin: 10px 0 0;
}
@media only screen and (min-width: 768px) {
  .intro-header .site-heading h1,
  .intro-header .page-heading h1 {
    font-size: 80px;
  }
}
.intro-header .post-heading h1 {
  font-size: 35px;
}
.intro-header .post-heading .subheading,
.intro-header .post-heading .meta {
  line-height: 1.1;
  display: block;
}
.intro-header .post-heading .subheading {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 24px;
  margin: 10px 0 30px;
  font-weight: 600;
}
.intro-header .post-heading .meta {
  font-family: 'Lora', 'Times New Roman', serif;
  font-style: italic;
  font-weight: 300;
  font-size: 20px;
}
.intro-header .post-heading .meta a {
  color: white;
}
@media only screen and (min-width: 768px) {
  .intro-header .post-heading h1 {
    font-size: 55px;
  }
  .intro-header .post-heading .subheading {
    font-size: 30px;
  }
}


hr.small {
  max-width: 100px;
  margin: 15px auto;
  box-shadow: 2px 2px 8px #000;
  border-width: 4px;
  border-color: white;
}
