<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en"> 
<head>
	<% include ../partials/head %>
</head>
<body>
	<% include ../partials/header %>
	<div class="container">

		<img src="./images/me.jpg" class="image-inpost" atl="It's Suz!">
		<h1>I Code Good and Do Other Stuff Good Too!</h1>
		<p>
			It's funny how the Earth never opens up and swallows you when you want it to. Imagine Bonnie and Clyde if they had 150 years to get it right. No need, little lady, your tears of gratitude are enough for me. You're the one freaky thing in my freaky world that still makes sense to me. Freedom is life's great lie. Start with the part where Jayne gets knocked out by a ninety-pound girl, 'cause I don't think that's ever getting old. This distress call wouldn't be taking place in someone's pants, would it? I like to think of myself more as a 'guest-age'.</p>
			<p>Passion rules us all. I saw their production of 'Giselle' in 1890. I wept like a baby, and I was evil! Remember when you could just throw a girl in a volcano? I like to think of myself more as a 'guest-age'.</p>
			<p>Instead you go all Dumbledore on me. Military people don't make out with science people. I'm not planning on presiding over the end of Western Civilization. You'll prove I can trust you when the day comes that you have to kill me. And you do. Spike follows the exciting smell of blood and we follow the fairly ripe smell of Spike. What did I say to you about barging into my shuttle? You're the one freaky thing in my freaky world that still makes sense to me. From beneath you, it devours. Last month he's the freak with jicama breath who waxes his back. You're lesbians, so the hating of men will come in handy.</p>

	</div>
	<div class="container">
		<h1  id="about">The Team That Makes Magic Happen</h1><br>
			<div class="row">
				<div class="col-sm-6 col-md-4">
					<div class="thumbnail">
						<img src="./images/cat.jpg" alt="...">
						<div class="caption">
							<h2>Meet Tigra CEO of Cuddles and Distraction</h2><br>
							<p>
								Turns out I suddenly find myself needing to know the plural of apocalypse. So we'll integrate non-progressional evolution theory with God's creation of Eden. Planet's coming up a mite fast. You sanguine about the kind of reception we're apt to receive on an Alliance ship, Cap'n? My egg is Jewish. See, morbid and creepifying, I got no problem with, long as she does it quiet-like. It's about women. No, a bad day is when someone's yellin' spooks the cattle. Can't even shout, can't even cry. She came from the grave much graver.
							</p>
						</div>
					</div>
				</div>
				<div class="col-sm-6 col-md-4">
					<div class="thumbnail">
						<img src="./images/dog1.jpg" alt="...">
						<div class="caption">
							<h2>Meet Louie Snack Master </h2><br>
							<p>
								Turns out I suddenly find myself needing to know the plural of apocalypse. So we'll integrate non-progressional evolution theory with God's creation of Eden. Planet's coming up a mite fast. You sanguine about the kind of reception we're apt to receive on an Alliance ship, Cap'n? My egg is Jewish. See, morbid and creepifying, I got no problem with, long as she does it quiet-like. It's about women. No, a bad day is when someone's yellin' spooks the cattle. Can't even shout, can't even cry. She came from the grave much graver.
							</p>
						</div>
					</div>
				</div>
				<div class="col-sm-6 col-md-4">
					<div class="thumbnail">
						<img src="./images/dog2.jpg" alt="...">
						<div class="caption">
							<h2>Meet Wrigly King of Kisses and Slobber</h2><br>
							<p>
								Turns out I suddenly find myself needing to know the plural of apocalypse. So we'll integrate non-progressional evolution theory with God's creation of Eden. Planet's coming up a mite fast. You sanguine about the kind of reception we're apt to receive on an Alliance ship, Cap'n? My egg is Jewish. See, morbid and creepifying, I got no problem with, long as she does it quiet-like. It's about women. No, a bad day is when someone's yellin' spooks the cattle. Can't even shout, can't even cry. She came from the grave much graver.
							</p>  </div>
						</div>
					</div>
				</div>
			</div>
	</div>
	<footer>
	<% include ../partials/footer %>
	</footer>
</body>