<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en"> 
<head>
	<% include ../partials/head %>
</head>
<body>
	<% include ../partials/header %>
	<div class="container">
		<% if (user.local.email === "work@damn.it") { %>
		<div id="blogForm"></div>
		<% } else { %>
			<div class="container">
			<div class="jumbotron alert">
			<h1><i class="fa fa-sign-in"></i></h1>
			<h2>You must be logged-in as the Tap Room's Owner to view this page.</h2></br>
			<ul class="list-unstyled">
			<li>  <a><button type="button" class="btn-menu" data-toggle="modal" data-target="#loginAdminModal">Login</button></a></li>
			</ul>
			</div>
			</div>
			<% } %>	</div>

	</div>
	<footer>
		<% include ../partials/footer %>
	</footer>
</body>