<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en"> 
<head>
	<% include ../partials/head %>
</head>
<body>
	<% include ../partials/header %>
		<% if (user.local.email === "work@damn.it") { %>
		<div id="blogForm"></div>
		<div class="container">
		<div id ="stackForm"></div>
		<br>
		<br>
		<div id ="projectForm"></div>
		<br>
		<br>

		</div>
		<% } else { %>
		<div class="container">
			<div class="jumbotron alert">
				<h2>Only invited guest bloggers and the blog owner may post a blog.</h2></br>
			</div>
		</div>
		<% } %>	</div>

	</div>
	<footer>
		<% include ../partials/footer %>
		<script src="../static/blogForm.js"></script>		
	</footer>
</body>

